/* .react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #e55733;
  color: #fff;
}

.react-calendar__tile--now {
  background: #e55733;
  color: #fff;
}

.react-calendar__tile--active:enabled:focus {
  outline: none;
}

.react-calendar__tile--hasActive:enabled.react-calendar__tile--active,
.react-calendar__tile--hasActive:enabled.react-calendar__tile--active:hover,
.react-calendar__tile--hasActive:enabled.react-calendar__tile--active:focus {
  background: #e55733;
  color: #fff;
}

.react-calendar__tile--hasActive:hover,
.react-calendar__tile--hasActive:focus {
  background-color: #e55733;
} */
